/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .logo-font {
    font-size: 110px;
    line-height: 1.35;
} */

.logo-font {
    font-size: 120px;
}


p, h1 {
    margin: 0;
}
/* stuff for ew header*/

.left-bar {
    height: 100vh;
    width: 200px;
    background-color: rgb(32, 32, 32);
    display: flex;
    float: left;
    flex-direction: column;
}

.center-cont {
    width: calc(100% - 200px);
    height: 100vh;
    background-color:  black;
    display: flex;
    float: left;
    flex-direction: column;
}

.place-holder{
    height: calc(100% - 720px);
    background-image: url('/One_Piece_Logo.svg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.PlayerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.right-bar {
    height: 86vh;
    width: 300px;
    background-color: black;
    float: left;
}

.lower-bar {
    height: 100px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: width 0.5s, margin 0.5s;
}

.streaming-cont {
    width: 100%;
    height: 100%;
    background-color: #00b140;
    object-fit: contain;
}

.controls {
    width: 100%;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: flex-start;
    overflow-y: scroll;
    transition: height 0.5s;

}



.token-cont {
    padding-left: 25px;
    font-family: Helvetica, sans-serif;
    color: white;
}

/* .faButton {
    padding-left: 25px;
    pointer-events: none;
} */

.faButton {
    pointer-events: none;
}


#map {
    height: 100%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


.logo {
    display: inline;
    height: 50px;
}

.collapsible-wrapper {
    display: flex;
    overflow: hidden;
}

.collapsible-wrapper:after {
    content: '';
    height: 50px;
    transition: height 0.3s linear, max-height 0s 0.3s linear;
    max-height: 0px;
}

.collapsible {
    transition: margin-bottom 0.3s cubic-bezier(0, 0, 0, 1);
    margin-bottom: 0;
    max-height: 1000000px;
    width: 100%;
}

.collapsible-wrapper.collapsed > .collapsible {
    margin-bottom: -2000px;
    transition: margin-bottom 0.3s cubic-bezier(1, 0, 1, 1),
    visibility 0s 0.3s, max-height 0s 0.3s;
    visibility: hidden;
    max-height: 0;
}

.collapsible-wrapper.collapsed:after {
    height: 0;
    transition: height 0.3s linear;
    max-height: 50px;
}

/* END of the collapsible implementation; the stuff below
   is just styling for this demo */

.menu {
    background-color: rgb(32, 32, 32);
    width: 100%;
    margin: 0;
}

.menu-item {
    display: block;
    margin: 0;
    padding: 1em;
    line-height: 1.3;
    width: 100%;
    color: white;
    cursor: pointer;
    padding-left: 40px;
    font-size: 14px;
}
.selected{
    background: rgb(20, 19, 19);
}

.menu-item-parent {
    padding: 15px;
    font-size: 15px;
    height: 24px;
    overflow: hidden;
    color: white;
    cursor: pointer;
    padding-right: 10px;
    line-height: 24px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.menu-item-parent:hover {
    background-color: rgb(0, 0, 0);
}

.menu-item:hover {
    background-color: rgb(20, 19, 19);
}

.menu-item-parent.toggler:before {
    content: '';
    display: block;
    border-left: 10px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    width: 0;
    height: 0;
    float: right;
    transition: transform 0.3s ease-out;
}

.menu-item-parent.toggler.toggled:before {
    transform: rotate(90deg);
}
